* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

ul.NavBar {
  padding: 0;
  margin: 0;
}

.NavBar {
  /* Positioning */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 6vh;
  /* padding: 5vh; */

  /* Background */
  background: linear-gradient(
    130deg, 
    #D9594C 15%,
    #E55934 30%,
    #dcbb34 60%,
    #cce046 100%
    );
  
  /* Text */
  color: rgb(255, 255, 255);
}

.NavBar li {
  padding: 2vh;
}

.NavBar img {
  height: 25px;
  width: 25px;
  opacity: 0.7;
}

.NavBar button {
  background: none;
  border: none;
  padding: 10px;
  font-size: medium;
  margin: 10px;
  cursor: pointer;
  padding: 5px;
  color: white;
}

.no-border {
  border: none;
}

.toast-container {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.toast {
  /* Position */
  animation: toast-slide-up .7s;
  transition: transform .6s ease-in;
  margin-top: 10px;

  /* Text */
  font-size: 14px;
  color: white;
  
  /* Border */
  border: none;
  /* border-radius: 5px; */
  
  /* Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.toast-red {
  background: #bf0a0a;
  
  /* linear-gradient(
    130deg, 
    #bf0a0a 33%,
    #cc118e 85%, 
    #aa00ff 100%
    ); */
}

.toast-green {
  background: #73da6e;
}

@keyframes toast-slide-up {
  from {
    transform: translateY(100%);
		
	}
	to {
    transform: translateY(0);
	}
}

.toast-icon {
  height: 4vh;
  width: 4vh;
  margin-left: 2vh;
  margin-right: 2vh;
  display: inline-block;
  vertical-align: middle;
}

.toast-content {
  margin-left: 2vh;
  margin-right: 2vh;
}

.toast button {
  /* Position */
  margin-left: 2vh;
  margin-right: 2vh;
  padding: 0;
  position: relative;
  outline: none;
  font-size: xx-large;
  color: white;
  line-height: 1;
  background: none;
}

.toast button:hover {
  cursor: pointer;
}

.annotation-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.annotation-label-save-button {
  float: right;
  padding: 5px;
  margin-left: 2vh;
  height: 4vh;
}

.annotation-label-cross-button {
  font-size: x-large;
  float: right;
  margin-left: 1vh;
}

.modal-outside-area {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(190, 190, 190, 0.5);
    display: flex;
    justify-content: center;
    align-items: center
}

.modal-inside-area {
  padding: 2vh;
  background: white;
  border-radius: 5px;
  height: 50vh;
  width: 50vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 480px) {
  .modal-inside-area {
    height: 80vh;
    width: 80vw;
  }
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-right: 0;

  background: none;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.modal-content-area {
  padding: 5vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100%;
}


.loading {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.welcome {
  /* background: #79e280; */
  background: linear-gradient(
    130deg,
    #79e280 40%,
    #dcbb34 60%,
    #E55934 100%
  );
  height: 100vh;
  width: 100vw;
  color: rgb(189, 0, 206);
  display: flex;
  flex-direction: column;
  padding: 10vh;
  font-size: extra-large;
}