* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

ul.NavBar {
  padding: 0;
  margin: 0;
}

.NavBar {
  /* Positioning */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 6vh;
  /* padding: 5vh; */

  /* Background */
  background: linear-gradient(
    130deg, 
    #D9594C 15%,
    #E55934 30%,
    #dcbb34 60%,
    #cce046 100%
    );
  
  /* Text */
  color: rgb(255, 255, 255);
}

.NavBar li {
  padding: 2vh;
}

.NavBar img {
  height: 25px;
  width: 25px;
  opacity: 0.7;
}

.NavBar button {
  background-color: white;
  border-color: grey;
  border-radius: 3px;
  border-width: 1px;
  padding: 10px;
  font-size: medium;
  margin: 10px;
  cursor: pointer;
  padding: 5px;
}

.NavBar button:hover {
  background-color: rgb(243, 243, 247);
}

.no-border {
  border: none;
}

.toast-container {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.toast {
  /* Position */
  animation: toast-slide-up .7s;
  transition: transform .6s ease-in;
  margin-top: 10px;

  /* Text */
  font-size: 14px;
  color: white;
  
  /* Border */
  border: none;
  /* border-radius: 5px; */
  
  /* Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.toast-red {
  background: #bf0a0a;
  
  /* linear-gradient(
    130deg, 
    #bf0a0a 33%,
    #cc118e 85%, 
    #aa00ff 100%
    ); */
}

.toast-green {
  background: #73da6e;
}

@keyframes toast-slide-up {
  from {
    transform: translateY(100%);
		
	}
	to {
    transform: translateY(0);
	}
}

.toast-icon {
  height: 4vh;
  width: 4vh;
  margin-left: 2vh;
  margin-right: 2vh;
  display: inline-block;
  vertical-align: middle;
}

.toast-content {
  margin-left: 2vh;
  margin-right: 2vh;
}

.toast button {
  /* Position */
  margin-left: 2vh;
  margin-right: 2vh;
  padding: 0;
  position: relative;
  outline: none;
  font-size: xx-large;
  color: white;
  line-height: 1;
  background: none;
}

.toast button:hover {
  /* background-color: rgba(243, 243, 247, 0.5); */
  cursor: pointer;
}

.annotation-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.annotation-label-save-button {
  float: right;
  padding: 5px;
  margin-left: 2vw;
  height: 4vw;
}

.annotation-label-cross-button {
  font-size: x-large;
  float: right;
  /* padding: 1vw; */
  margin-left: 2vw;
}