* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

ul.NavBar {
  padding: 0;
  margin: 0;
}

.NavBar {
  /* Positioning */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 6vh;
  /* padding: 5vh; */
  
  /* Border */
  /* border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: 1px;
  border-color: lightgray; */

  /* Background */
  background: linear-gradient(
    130deg, 
    #CC00CC 33%,
    #CCCC11 85%, 
    #00FFCC 100%
    );
  
  /* Text */
  color: white;
}

.NavBar li {
  padding: 2vh;
}

.NavBar img {
  height: 25px;
  width: 25px;
  opacity: 0.7;
}

.NavBar button {
  background-color: white;
  border-color: grey;
  border-radius: 3px;
  border-width: 1px;
  padding: 10px;
  font-size: medium;
  margin: 10px;
  cursor: pointer;
  padding: 5px;
}

.NavBar button:hover {
  background-color: rgb(243, 243, 247);
}

ul.info {
  padding: 0;
}

ul.info-card-tools {
  padding: 0;
}

.info-card-tools {
  /* display: flex; */
  /* align-items: center; */
  /* float: right; */
  display: inline-block;
}

/* .info-card-tool-button:hover {
  cursor: pointer;
  background-color: rgb(222, 222, 230);
} */

.info-card {
  /* Layout */
  margin-bottom: 20px;
  padding: 10px;

  /* Border */
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: lightgray;
}

.info-card:hover {
  background-color: rgb(243, 243, 247);
}

.info-card-time {
  text-align:left;
  margin: 15px
}

.b-form {
  /* Layout */
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  
  /* Border */
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.form-field {
  margin: 10px;
}

.form-input {
  border: none;
  /* border-color: lightgray; */
  padding: 10px;
  border-radius: 5px;
  font-size: medium;
  margin-left: 20px;
}

.form-button {
  display: inline;
}

.form-button, .add-button {
  background-color: white;
  border-color: grey;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  font-size: medium;
  margin: 10px;
  cursor: pointer;
  padding: 0;
  padding: 15px;
}

.form-button:hover, .add-button:hover {
  background-color: rgb(243, 243, 247);
}

.small-text {
  font-size: small;
}

.no-border {
  border: none;
}

.info-content {
  width: min(90vw, 500px)
}

.toast-container {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.toast {
  /* Position */
  animation: toast-slide-up .7s;
  transition: transform .6s ease-in;
  margin-top: 10px;

  /* Text */
  font-size: 14px;
  
  /* Border */
  border: none;
  border-radius: 5px;
  
  /* Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.toast-red {
  background-color: rgb(253, 219, 219);
}

.toast-green {
  background-color: rgb(241, 253, 236);
}

.toast-red:hover {
  background-color: rgb(255, 211, 211);
}

.toast-green:hover {
  background-color: rgb(228, 247, 221);
}

@keyframes toast-slide-up {
  from {
    transform: translateY(100%);
		
	}
	to {
    transform: translateY(0);
	}
}

.toast-icon {
  height: 32px;
  width: 32px;
  margin-left: 20px;
  margin-right: 10px;
}

.toast-content {
  margin-left: 10px;
  margin-right: 10px;
}

.toast button {
  /* Position */
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  position: relative;
  align-self: flex-start;
  outline: none;
  font-size: 25px;
  color: grey;
  line-height: 1;
  background: inherit;
  border-radius: 3px;
  padding: 5px;
}

.toast button:hover {
  background-color: rgba(243, 243, 247, 0.5);
  cursor: pointer;
}

.annotation-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.annotation-label-text {
  /* float: right; */
  /* height: 20px; */
  /* text-align: center; */
  /* display: inline-block; */
  /* opacity: 0.6; */
  /* width: 20px; */
  /* margin: 10px; */
  /* padding: 1px; */
  /* border-radius: 3px; */
  /* margin-left: 5px; */
}

.annotation-label-button {
  float: right;
  /* display: inline-block; */
  /* opacity: 0.6; */
  height: 20px;
  width: 20px;
  /* margin: 10px; */
  padding: 5px;
  /* border-radius: 3px; */
  margin-left: 5px;
}